.usercard {
	margin-left: 90px;
	margin-top: 50px;
}

.table {
	margin-left: 500px;
	width: 60%;
	margin-top: -490px;
}

.btn {
	margin-left: 650px;
}
.bottombtn {
	margin-left: 50px;
}
.searchbtn {
	margin-top: -37px;
	margin-left: -250px;
}
