.card1 {
	position: relative;

	margin-left: 600px;
	margin-top: -450px;
}

.c2 {
	position: relative;

	margin-left: 1100px;
	margin-top: -290px;
}

.c3 {
	position: relative;
	margin-top: 50px;

	margin-left: 700px;
}
.usercard {
	position: flex;
	margin-left: 500px;
	margin-left: 850px;
}
.usercard {
	position: flex;
	margin-left: 400px;
	margin-top: -300px;
}
